html,body {overflow-x:hidden;}


body { /* start page text and background */
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.top-line {
  /*width: 100%;*/
  padding: 50px 35px;
  display: flex;
  flex-direction: rows;
  font-size: 20px;
 /* align-items: stretch; */
  justify-content: space-between;
  

}
.top-line a { /* start page */
  /*padding: 0;
  margin: 0; */
  text-decoration: none;
}

.top-line p {
 /* float: right;*/
  margin-right: 20px;
}  

.activeTimer { /* countdown on questions page */
  margin-right: 20px;
}

.main { /* start page center h1, p, and button */
  text-align: center;  
  padding: 20px 5px auto 5px;
  padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 25px;
} 

.btn { /* start page button styling */
  margin: 0 auto;
  font-size: 25px;
  background-color: purple;
  color: white;
}

.scores { /* high scores page center h1, text box, and buttons */
  text-align: center;  
  padding: 20px 5px auto 5px;
  padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 25px;
} 

.btn{ /* put space between buttons */
  margin: 0 20px; 
  padding: 20px;

}

.summary { /* summary page center h1, h2, score, initials, and button */
  text-align: center;  
  padding: 20px 5px auto 5px;
  padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 25px;
} 

.btn-start {
  -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

#frameTotal { /* question page whole page except for heading */
  text-align: left;  
  margin-left: 35%;
 /* padding: 20px 5px auto 5px; */
  padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 25px;
} 

#showQuestion, #showChoices {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 25px;
  margin-left: 35%; 
}

#showQuestion {
  color: black;
  width: 600px;
  font-size: 25px;
  
} 

.choice { /* question page multiple choice answers */
  background-color:cyan;
  color: black;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-color: black;
  border-style: solid;
  font-size: 20px;
  
}  

.choice:hover { background-color: yellow} 

#displayRW { /* display right or wrong */
  text-align: left;
  width: 100%;
  margin-left: 37%;
  font-style: italic;
  color: #ff4500;
  font-size: 30px;
  padding-top: 20px;
}
