body { /* start page text and background */
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.top-line {
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-between;
  

}
.top-line a { /* start page */
  text-decoration: none;
}

.top-line p {
 float: right;
 margin-right: 20px;
}  

.activeTimer { /* countdown on questions page */
  margin-right: 20px;
}

.main { /* start page center h1, p, and button */
  text-align: center;  
  padding: 20px 5px auto 0px;
  padding-top: 70px;
  color: hsl(206, 17%, 28%); 
  font-size: 25px;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; */
 } 

#Clear-Scores {
  font-style: sans-serif;
  font-size: 20px;
}

.btn { /* start page button styling */
  margin: 0 auto;
  font-size: 20px;
  background-color: purple;
  color: white;
}

.scores { /* high scores page center h1, text box, and buttons */
  text-align: center;  
  padding: 20px 5px auto 5px;
  padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
} 

.btn { /* put space between buttons */
  margin: 0 20px; 
  padding: 15px;

}

.summary { /* summary page center h1, h2, score, initials, and button */
  text-align: center;  
  padding: 20px 5px auto 5px;
  padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 25px;
} 

.btn-start { /* takes away href formatting for high-scores try again button */
  -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

/* #frameTotal { /* question page whole page except for heading */
  /* text-align: left;  
  margin-left: 35%;
 /* padding: 20px 5px auto 5px; */
  /* padding-top: 70px;
  color: hsl(206, 17%, 28%);
  font-size: 25px;
}  */ 

#showQuestion, #showChoices { /* layout for questions and choices */
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 25px;
  margin-left: 35%; 
}

#showQuestion { /* styling for each question */
  color: black;
  width: 600px;
  font-size: 25px;
} 

.choice { /* question page multiple choice answers */
  background-color:cyan;
  color: black;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-color: black;
  border-style: solid;
  font-size: 20px;
}  

.choice:hover { background-color: yellow} /* make button yellow background if hovering over it */
 
#displayRW { /* display right or wrong */
  text-align: left;
  width: 100%;
  margin-left: 37%;
  font-style: italic;
  color: #ff4500;
  font-size: 30px;
  padding-top: 20px; 
} 

/* use next line for testing out of container items */
/** { outline: 1px red solid !important; visibility: visible !important } */